.roundabout-holder {
	list-style: none;
	padding: 0;
	margin: auto;
	height: 20%;
	width: 30%;
}

.roundabout-moveable-item {
	height: 20em;
	width: 45em;
	cursor: pointer;
	background-color: #ccc;
	border: 2px solid rgba(100, 200, 255, 0.5);
	-webkit-box-shadow: 7px 7px 19px rgba(52, 50, 50, 0.75);
	-moz-box-shadow: 7px 7px 19px rgba(52, 50, 50, 0.75);
	box-shadow: 7px 7px 19px rgba(52, 50, 50, 0.75);
}

.roundabout-in-focus {
	cursor: auto;
}

.left_arrow{
	position: absolute;
	top: 18em;
	margin-left: 10%;
	border-bottom: 15px solid transparent;
	border-top: 15px solid transparent;
	border-right: 15px solid rgba(100, 200, 255, 1);
	cursor: pointer;
}

.right_arrow{	
	position: absolute;
	right: 0;
	top: 18em;
	margin-right: 10%;
	border-bottom: 15px solid transparent;
	border-top: 15px solid transparent;
	border-left: 15px solid rgba(100, 200, 255, 1);
	cursor: pointer;
}

img,video {
	width: 100%;
	height: 100%;
}

.fitParent{
	-webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    height: 100%;
}

.img1{
 	background: url(../images/0.gif) no-repeat center;    
}
.img2{
 	background: url(../images/11.jpg) no-repeat center;    
}
.img3{
 	background: url(../images/22.jpg) no-repeat center;    
}
.img4{
 	background: url(../images/33.jpg) no-repeat center;    
}

.myList {
	top: 18em !important;
}

.items {
	height: 100%;
}

.itm1 {
	height: 100%;
	width: 75%;
	float: left;
}

.itm2 {
	height: 100%;
	width: 25%;
	float: right;
	background: -webkit-linear-gradient(left top, lightslategray 33%, rgb(70, 130, 180)) !important;
	background: -moz-linear-gradient(left top, lightslategray 33%, rgb(70, 130, 180)) !important;
	background: linear-gradient(left top, lightslategray 33%, rgb(70, 130, 180)) !important;
	text-align: center;
}

.title {
	word-wrap: break-word;
	text-shadow: 0 1px #ccc;
	color: black;
	font-weight: bold;
	padding: 5px 0;
	border-bottom: 1px solid tan;
	display: block;
	-webkit-box-shadow: 0px 10px 19px rgba(52, 50, 50, 0.75);
	-moz-box-shadow: 0px 10px 19px rgba(52, 50, 50, 0.75);
	box-shadow: 0px 15px 19px rgba(52, 50, 50, 0.75);
}

#wrapper{
	height: 83% !important;
	margin: auto;
	width: 85%;
}

.description {
	word-wrap: break-word;
	margin: 3px;
	color: lavender;
	font-style: italic;
	display: block;
	text-shadow: 0 1px .5px black;
}

.scrollIndicator{
	display: none;
	width: 0;
	animation: fade 2000ms infinite;
	-webkit-animation: fade 3000ms infinite;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid rgba(100, 200, 255, 0.5);
	margin: 5px auto;

	/* color: rgba(0,0,0,0.3);
	background: -webkit-linear-gradient(rgba(70, 130, 180, 0.2) , rgba(0,0,0,0.3));
	background: -moz-linear-gradient(rgba(70, 130, 180, 0.2) , rgba(0,0,0,0.3));
	background: linear-gradient(rgba(70, 130, 180, 0.2) , rgba(0,0,0,0.3)); */
}

.overlay-footer {
	width: 72.2%;
	min-height: 20px;
	color: white;
	padding: 10px;
	bottom: 0;
	position: absolute;	
	background-color: rgba(0,0,0,0.1);
	text-transform: uppercase;
}

.roundabout-in-focus .overlay-footer{
	text-shadow: 0 1px #000;	
}

.corner {
	position: absolute;
	top: 0;
	right: 25%;
	width: 0;
	height: 0;
	z-index: 1000;
	border-left: 30px solid transparent;
	border-bottom: transparent;
	border-top: 30px solid lightslategray;
}

@keyframes fade {
	from {opacity: 1.0; }
	50% {opacity: 0;}
	to {opacity: 1.0; }
}

@-webkit-keyframes fade {
	from {opacity: 1.0;	}
	50% {opacity: 0;}
	to {opacity: 1.0; }
}

.bubble_block{
	position: relative;
	top: 30em;
	width: 15em;
	margin: auto;
}

.bubble{
	width: 9px;
	height: 9px;
	background: -webkit-radial-gradient(white, rgba(100, 200, 255, 1) 60%);
	background: -moz-radial-gradient(white, rgba(100, 200, 255, 1) 60%);
	background: radial-gradient(white, rgba(100, 200, 255, 1) 60%);
	border-radius : 10px;
	background-size: 100%;
	margin: 1em;
	float: left;
}

.active_bubble{
	width: 9px;
	height: 9px;
	background: -webkit-radial-gradient(white, rgba(0, 0, 0, 1) 60%);
	background: -moz-radial-gradient(white, rgba(0, 0, 0, 1) 60%);
	background: radial-gradient(white, rgba(0, 0, 0, 1) 60%);
	background-size: 100%;
}

.page_footer {
	min-height: 20px;
	width: 100%;
	bottom: 0;
	left: 0;
	position: absolute;
	text-align: center;
	z-index: 1000;
	background : -webkit-linear-gradient(rgba(100,200,255,0.1) 20%, rgba(200,240,250,1));
	background : -moz-linear-gradient(rgba(100,200,255,0.1) 20%, rgba(200,240,250,1));
	background : linear-gradient(rgba(100,200,255,0.1) 20%, rgba(200,240,250,1));
}

.footerTag{
	background-color: rgba(100,200,255,0.5);
	border-top: 1px solid rgba(100, 200, 255, 1);
	cursor: pointer;
}

.togglePannelBtn img{
	width: 25px;
	height: 23px;
	margin-top: -5px;
}

.toggle_pannel_arrow{
	-webkit-transform:rotate(180deg);
}

.buttonPannel input[type="button"]{
	font-weight:bold;
	color: #04abfe;
	text-shadow: 1px 1px 1px white;
	box-shadow: 0px 5px 15px whitesmoke;
	margin: 0.9em;
	border-left: none;
	border-right: none;
	border-top: 2px solid rgba(100, 200, 255, 1);
	border-bottom: 2px solid rgba(100, 200, 255, 1);
	border-radius: 20px;
	min-width: 120px;
	min-height: 34px;
	background: transparent;
	cursor: pointer;
}

.imageFlipperRoot{
	background: black;
}
